body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFB6C1; /* Light pink background */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.auth-box {
    background: white;
    padding: 30px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.welcome-text {
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

.authForm {
    margin: 10px 0;
    color: black;
}

.authForm input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
}

#loggedInContent {
    width: 100%;
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 200px;
    background-color: #000000;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sidebar button {
    background-color: #000000;
    color: white;
    border: 1px solid white;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    width: 100%;
}

.sidebar button:hover {
    background-color: white;
    color: black;
}

.content-wrapper {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.page-title {
    font-weight: bold;
    margin-bottom: 20px;
}

.book-list, .cart, .order-history {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

#books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.book {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: calc(33.333% - 20px);
    text-align: center;
    background-color: #F0F8FF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
}

.book h3 {
    margin: 10px 0;
}

.book p {
    margin: 5px 0;
}

button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #555;
}

#cart-items, #orders {
    list-style-type: none;
    padding: 0;
}

#cart-items li, #orders li {
    background-color: #F0F8FF;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
}